In [1]:
import pandas as pd

In [25]:
snsdata = pd.read_csv('DataSets/snsdata.csv',sep=',')
# snsdata.info()# check the data frame information
# s = snsdata.isna().sum()# it will return series oject
s = snsdata.isnull().sum()
type(s) # series objects
to_df = s.to_frame(name="total count")# this is one of the way to convert series object into data frame
to_df

              total count
gradyear                0
gender               2724
age                  5087
friends                 0
basketball              0
football                0
soccer                  0
softball                0
volleyball              0
swimming                0
cheerleading            0
baseball                0
tennis                  0
sports                  0
cute                    0
sex                     0
sexy                    0
hot                     0
kissed                  0
dance                   0
band                    0
marching                0
music                   0
rock                    0
god                     0
church                  0
jesus                   0
bible                   0
hair                    0
dress                   0
blonde                  0
mall                    0
shopping                0
clothes                 0
hollister               0
abercrombie             0
die                     0
death                   0
drunk                   0
drugs                   0

In [28]:
df = pd.read_csv('DataSets/snsdata.csv')
df.notna().sum()

gradyear        30000
gender          27276
age             24913
friends         30000
basketball      30000
football        30000
soccer          30000
softball        30000
volleyball      30000
swimming        30000
cheerleading    30000
baseball        30000
tennis          30000
sports          30000
cute            30000
sex             30000
sexy            30000
hot             30000
kissed          30000
dance           30000
band            30000
marching        30000
music           30000
rock            30000
god             30000
church          30000
jesus           30000
bible           30000
hair            30000
dress           30000
blonde          30000
mall            30000
shopping        30000
clothes         30000
hollister       30000
abercrombie     30000
die             30000
death           30000
drunk           30000
drugs           30000
dtype: int64