In [5]:
import pandas as pd
df = pd.read_csv("DataSets/fruits.csv")
df[1:10:2]

    color  sphericity  weight   label
1  Orange       0.917     125  Orange
3  Orange       0.916     123  Orange
5  Orange       0.911     130  Orange
7  Orange       0.918     105  Orange
9  Orange       0.936     127  Orange

In [12]:
import pandas as pd
df = pd.read_csv("DataSets/fruits.csv")
df[['color']]

              color
0            Orange
1            Orange
2            Orange
3            Orange
4            Orange
5            Orange
6            Orange
7            Orange
8            Orange
9            Orange
10  Greenish yellow
11  Greenish yellow
12  Greenish yellow
13            Green
14            Green
15  Greenish yellow
16  Greenish yellow
17  Greenish yellow
18            Green
19            Green
20  Greenish yellow
21  Greenish yellow
22            Green
23            Green
24  Greenish yellow
25            Green
26            Green
27            Green
28            Green
29  Greenish yellow
30            Green
31            Green
32            Green
33            Green
34            Green
35            Green
36            Green
37            Green
38            Green
39            Green
40   Reddish yellow
41   Reddish yellow
42              Red
43              Red
44              Red
45              Red
46   Reddish yellow
47              Red
48              Red
49   Reddish yellow
50              Red
51              Red
52              Red
53   Reddish yellow
54   Reddish yellow
55   Reddish yellow
56   Reddish yellow
57   Reddish yellow
58              Red
59   Reddish yellow

In [19]:
import pandas as pd
df = pd.read_csv("DataSets/fruits.csv")
df.sample(6)

              color  sphericity  weight   label
47              Red       0.845     154   Apple
48              Red       0.710     149   Apple
12  Greenish yellow       0.859     110  Orange
41   Reddish yellow       0.772     152   Apple
34            Green       0.721     172   Apple
36            Green       0.775     173   Apple